@media screen and (min-width: 50px) and (max-width: 722px) {
  #flex #ord_ch1 {
    width: auto;
  }

  .back {
    height: 40vh;
    width: 100vw;
  }
  .back::before {
    content: "";
    height: 40vh;
    width: 100vw;
    background: url("../photos/headerbg-2.jpg") no-repeat;
    opacity: 0.8;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -1;
  }
  #flex #ord_ch1,
  #flex #ord_ch2 {
    margin: auto;
  }
  #flex {
    flex-direction: column;
  }
}
/*---------- cart ----------*/
@media screen and (min-width: 50px) and (max-width: 997px) {
  #crt_flex #ch1,
  #crt_flex #ch2 {
    margin: auto;
  }
}

/* index */
